.header-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin: 0 30px;
  transition: all 0.2s ease-out;
  padding: 3px;
}

nav a:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5) inset;
}
