@import './variables.scss';

main {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  letter-spacing: 5px;
  margin-bottom: 100px;
}

.projects,
.skills,
.contact,
.home {
  height: auto;
  padding-top: $top;
  width: 75%;
}

@media screen and (max-width: 1024px) {
  .title-container {
    font-size: 25px;
    margin-bottom: 50px;
  }
  .projects,
  .skills,
  .contact,
  .home {
    height: auto;
    width: 100%;
  }
}
