@import '../assets/styles/variables.scss';

main {
  .home {
    height: $height;
  }
  .skills {
    height: $height;
  }
  .projects {
    height: $height;
  }
  .contact {
    height: $height;
  }
}
