.container-project {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-scroll-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-card {
  z-index: 3;
  display: flex;
  overflow: hidden;
  width: auto;
  height: 564px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 1em;
  margin-top: 25px;
  border-radius: 16px;
  background-color: rgba(47, 47, 48, 0.8);
  backdrop-filter: blur(16px);
}

.intro-card.sticky-1 {
  z-index: 2;
  position: sticky;
  display: block;
  justify-content: center;
  justify-items: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.intro-card.sticky-2 {
  z-index: 1;
  position: sticky;
  align-items: center;
}
