.container-project {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.project-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 12rem;
}

.project-item:nth-child(even) {
  flex-direction: row-reverse;
}

.project-item:last-child {
  margin-bottom: 0;
}

.project-item .left {
}

.project-item .right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .project-item .left {
    display: none;
  }
}
